.scroll-container {
  height: 250vh; /* 5x the screen height = more scroll room = slower playback */
}

#scroll-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  /*overflow: hidden;*/
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-title {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  /*transition: opacity 0.6s ease;*/
}

/* Visible state 
.video-title.visible {
  opacity: 1;
}
*/

.video-title h1 {
  position: relative;
  bottom: 300px;
  left: -14px;
  font-size: 5rem;
  font-family: "Roboto Mono";
  color: var(--surface-color);
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.video-title p {
  position: relative;
  bottom: 300px;
  left: -14px;
  font-size: 1.4rem;
  font-family: "Roboto Mono";
  color: var(--surface-color);
  opacity: 0.8;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}